<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ProductDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img [src]="item?.imageUrl || 'assets/imgs/prod.jpg'"/>
    <ion-card-header>
      <ion-card-title>{{item?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item?.price | currency}}
    </ion-card-content>
    <ion-button expand="block" fill="outline" (click)="addToCart(item!)">Adicionar ao carrinho</ion-button>
  </ion-card>
</ion-content>