<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-menu-toggle auto-hide="false">
      <ion-item>
        <ion-icon name="menu"></ion-icon>
      </ion-item>
    </ion-menu-toggle>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of items" button (click)="showProducts(item.id)">
      <ion-thumbnail slot="start">
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <ion-label> {{ item.name }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>