<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-toggle auto-hide="false">
      <ion-item lines="none">
        <ion-icon name="menu"></ion-icon>
        <ion-title>Categorias</ion-title>
      </ion-item>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button size="small" (click)="goToCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-nav-link router-direction="forward" [component]="component"></ion-nav-link>
  <ion-list>
    <ion-item *ngFor="let item of items" button (click)="showProducts(item.id)">
      <ion-thumbnail slot="start">
        <ion-img src="{{bucketUrl}}/cat{{item.id}}.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label> {{ item.name }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>