<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.product.imageUrl || 'assets/imgs/prod.jpg'"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.product.name}}</h2>
        <p>{{item.product.price | currency}}</p>
        <ion-icon name="remove-circle-outline" color="primary" class="nolinebreak"
          (click)="decreaseQuantity(item.product)"></ion-icon>
        <p class="nolinebreak">{{item.quantity}}</p>
        <ion-icon name="add-circle-outline" color="primary" (click)="increaseQuantity(item.product)"></ion-icon>
        <ion-icon name="trash-outline" color="danger" class="ion-float-right"
          (click)="removeItem(item.product)"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h2>Total</h2>
      <h2 slot="end">{{total()}}</h2>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
      <h2>Seu carrinho está vazio</h2>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="goOn()">Continuar comprando</ion-button>
  <ion-button *ngIf="total() > 0" expand="block" (click)="checkout()" color="success">Finalizar pedido</ion-button>
</ion-content>