<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-nav-link router-direction="forward" [component]="component"></ion-nav-link>
  <ion-list>
    <ion-item button *ngFor="let item of items" (click)="showDetail(item.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.imageUrl || 'assets/imgs/prod.jpg'"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <strong>{{item.name}}</strong><br />
        <ion-text>{{item.price | currency}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>