<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forma de pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="nextPage(); $event.preventDefault()">

    <ion-radio-group value="paymentByCard" formControlName="@type">
      <ion-item>
        <ion-label>
          <h3>
            Tipo de pagamento
          </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="paymentByCard">Pagamento com cartão</ion-radio><br />
      </ion-item>
      <ion-item>
        <ion-radio value="paymentByBankSlip">Pagamento com boleto</ion-radio><br />
      </ion-item>
    </ion-radio-group>

    <ion-item *ngIf="formGroup.value['@type'] == 'paymentByCard'">
      <ion-label stacked>Parcelas no cartão</ion-label>
      <ion-select formControlName="numberOfInstallments">
        <ion-select-option *ngFor="let n of installments" [value]="n">{{n}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="formGroup.invalid">Próximo</ion-button>
  </form>
</ion-content>