<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-toggle auto-hide="false">
      <ion-item lines="none">
        <ion-icon name="menu"></ion-icon>
        <ion-title>Perfil</ion-title>
      </ion-item>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-ctr">
  <ion-avatar class="profile-img-ctr">
    <img class="profile-img" [src]="client?.imageUrl || 'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 text-center>{{client?.name}}</h2>
  <p text-center>{{client?.email}}</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>
          Enviar imagem de perfil
        </h2>
      </ion-card-title>
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture.webPath">
    </ion-item>
    <ion-button expand="block" (click)="takePicture()" [disabled]="cameraOn">Tirar / Escolher Foto</ion-button>
    <ion-button *ngIf="picture" fill="outline" expand="block" (click)="sendPicture()">Enviar imagem</ion-button>
    <ion-button *ngIf="picture" fill="outline" expand="block" (click)="cancel()">Descartar imagem</ion-button>
  </ion-card>
</ion-content>