.profile-ctr {
    text-align: center;
}

.profile-img-ctr {
    display: contents;
}

.profile-img {
    width: 60%;
    height: auto;
    margin: 25px auto 0 auto;
}

.profile-ctr h2 {
    font-weight: bold;
}