<ion-content [fullscreen]="true">
  <ion-text>
    <h3>Sistema de pedidos</h3>
  </ion-text>

  <img src="assets/imgs/tela-inicial.png" alt="logo">

  <form>
    <ion-item>
      <ion-input [(ngModel)]="creds.email" name="email" label="Email" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="creds.password" name="password" label="Senha" labelPlacement="floating" type="password"></ion-input>
    </ion-item>
    <div class="btn-container">
      <ion-button expand="block" (click)="login()">Entrar</ion-button>
    </div>
  </form>
  <div class="btn-container">
    <ion-button expand="block" fill="outline" (click)="signup()">Registrar</ion-button>
  </div>
</ion-content>